name: "Setup OTP & Elixir, Get Deps, Compile, Run Tests"
on:
  workflow_call:
    inputs:
      checkout:
        description: "Whether to check out the code. Set to `false` to disable this, e.g. if you have already done this."
        type: boolean
      warnings-as-errors:
        description: "Whether warning during compilation should be shown as errors and mark the workflow as failed."
        type: boolean
        default: true
      with-kubernetes:
        description: "Whether to setup a Kubernetes cluster with Kind."
        type: boolean
      include-integration-tests:
        description: "Whether to run include tests in test run."
        type: boolean
        default: false
      compile-for:
        description: "What env to compile the app for (defaults to test)."
        type: string
        default: test
      mix-test-timeout:
        description: "Sets the timeout on the mix test call (ms)."
        type: number
        default: 60000
    secrets:
      token:
        description: "The github token"
        required: true
env:
  MIX_ENV: test
  # renovate: datasource=docker depName=kindest/node
  KUBERNETES_NODE_IMAGE: kindest/node:v1.33.1@sha256:050072256b9a903bd914c0b2866828150cb229cea0efe5892e2b644d5dd3b34f
  KUBECONFIG: /home/runner/.kube/config
  MISE_ENV: ci
  GITHUB_TOKEN: ${{ secrets.token }}
jobs:
  elixir-test:
    runs-on: ubuntu-latest
    name: Test - OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        # See https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
        otp: ["24", "25", "26", "27", "28"]
        elixir: ["1.15", "1.16", "1.17", "1.18"]
        exclude:
          # OTP 24
          - elixir: "1.17"
            otp: "24"
          - elixir: "1.18"
            otp: "24"
          # OTP 27
          - elixir: "1.15"
            otp: "27"
          - elixir: "1.16"
            otp: "27"
          # OTP 28
          - elixir: "1.15"
            otp: "28"
          - elixir: "1.16"
            otp: "28"
          - elixir: "1.17"
            otp: "28"
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        if: inputs.checkout != false

      - name: Setup Mise JDX
        run: |
          curl https://mise.run | sh
          echo "$HOME/.local/share/mise/bin" >> $GITHUB_PATH
          echo "$HOME/.local/share/mise/shims" >> $GITHUB_PATH
          echo "eval \"\$(mise activate bash)\"" >> ~/.bash_profile

      - name: Setup Kubernetes (Kind)
        if: inputs.with-kubernetes == true
        id: kind
        run: |
          mix c kind -- kind create cluster --image $KUBERNETES_NODE_IMAGE

      - name: Retrieve Build Cache
        uses: actions/cache@v4
        id: build-folder-cache
        with:
          path: _build
          key: ${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v4
        id: mix-cache
        with:
          path: deps
          key: ${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Install Hex
        run: mise x elixir@${{ steps.beam.outputs.elixir-version }} erlang@${{ steps.beam.outputs.otp-version }} rebar -- mix local.hex --force

      - name: Install Mix Dependencies
        run: mise x elixir@${{ steps.beam.outputs.elixir-version }} erlang@${{ steps.beam.outputs.otp-version }} rebar -- mix deps.get

      - name: Compile Application / Library
        run: mise x elixir@${{ steps.beam.outputs.elixir-version }} erlang@${{ steps.beam.outputs.otp-version }} rebar -- mix compile --warnings-as-errors
        if: inputs.warnings-as-errors == true
        env:
          MIX_ENV: ${{ inputs.compile-for }}

      - name: Compile Application / Library
        run: mise x elixir@${{ steps.beam.outputs.elixir-version }} erlang@${{ steps.beam.outputs.otp-version }} rebar -- mix compile
        if: inputs.warnings-as-errors != true
        env:
          MIX_ENV: ${{ inputs.compile-for }}

      - name: Run Tests
        if: inputs.include-integration-tests != true
        shell: bash -l {0}
        run: mise x elixir@${{ steps.beam.outputs.elixir-version }} erlang@${{ steps.beam.outputs.otp-version }} rebar -- mix test --timeout ${{ inputs.mix-test-timeout }}

      - name: Run Tests incl. integration tests
        if: inputs.include-integration-tests == true
        shell: bash -l {0}
        run: mise x elixir@${{ steps.beam.outputs.elixir-version }} erlang@${{ steps.beam.outputs.otp-version }} rebar -- mix test --include integration --timeout ${{ inputs.mix-test-timeout }}
